
<div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Total Posts Count</div>
            <div class="panel-body" style="min-height: 185px;">
                {{my-posts posts=model.posts}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Total Comments Count</div>
            <div class="panel-body" style="min-height: 185px;">
                {{my-comments comments=model.comments}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Total Tags Count</div>
            <div class="panel-body" style="min-height: 185px;">
                {{my-tags tags=model.tags}}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading">Random Post</div>
        {{#if model.tags.isRunning}}
            <h4>...loading...</h4>
        {{else if model.tags.error}}
            <h4>...{{model.tags.error.message}}...</h4>
        {{else}}
        <h4><i>id</i>: {{model.post.value.id}} - <i>title</i>: {{model.post.value.title}}</h4>
        {{/if}}
    </div>
    {{#link-to 'here'}}Here{{/link-to}}
</div>

{{outlet}}