{{#if tags.isRunning}}
    {{loading-mask}}
{{else if tags.error}}
    <div class="text-center">
        {{tags.error.message}}
    </div>
{{else if tags.length}}
    <div class="text-center" style="margin-top: 17%;">
        <h1>{{tags.length}}</h1>
    </div>
{{/if}}
{{yield}}