{{#if post.isRunning}}
    {{loading-mask}}
{{else if post.error}}
    <div class="text-center">        
        <h1>Error occurred</h1>
    </div>
{{else if post.value}}
    <div class="text-center">
        <h1>{{post.value.length}}</h1>
    </div>
{{/if}}

{{yield}}