{{#if comments.isRunning}}
    {{loading-mask}}
{{else if comments.error}}
    <div class="text-center">        
        {{comments.error.message}}
    </div>
{{else if comments.length}}
    <div class="text-center" style="margin-top: 17%;">
        <h1>{{comments.length}}</h1>
    </div>
{{/if}}

{{yield}}