{{#if posts.isRunning}}
    {{loading-mask}}
{{else if posts.error}}
    <div class="text-center">
        {{posts.error.message}}
    </div>
{{else if posts.length}}
    <div class="text-center" style="margin-top: 17%;">
        <h1>{{posts.length}}</h1>
    </div>
{{/if}}
{{yield}}