{{#if posts.isRunning}}
    {{loading-mask}}
{{else if posts.error}}
    <div class="text-center">
        <h1>Error occurred</h1>
    </div>
{{else if posts.value}}
    <div class="text-center">
        <h1>{{posts.value.length}}</h1>
    </div>
{{/if}}
{{yield}}